# macOS system files
.DS_Store

# VSCode
.vscode/

# MATLAB / Simulink files
*.asv
*.bak
*.log
*.mat
*.mex*
*.slxc
*.mdl.autosave
*.slx.autosave
*.fig
*.pbtxml
*.p
*.mlapp
*.mlappinstall
*.mexa64
*.mexw64
*.mexmaci64
*.sldd
*.sfx
*.svproj
*.mdlp
*.slxp
*.sim
*.rpt
*.c
*.h
*.tlc
*.xml
*.mk
*.exe

# Simulink generated folders
slprj/
sfunctions/
_simulinkcache/

# Other temporary files
*.swp
*.swo
*~
*.tmp
*.temp

# Image files
*.jpg